# Ignore local dependencies
node_modules

# Ignore local production build (the Docker build will create its own)
build

# Ignore Git-related files
.git
.gitignore

# Ignore logs
npm-debug.log
yarn-error.log

# (Optional) Ignore environment files if you don’t want them copied into the image
.env

# (Optional) No need to copy these into the container
Dockerfile
.dockerignore
